<div class="sidebar">
  <a href="#" class="logo">
    <div class="logo-name"><span>Super</span>Admin</div>
  </a>
  <ul class="side-menu">
    <li class="#">
      <a href="/admin"><i class="bx bx-group"></i>Register</a>
    </li>
    <li class="#">
      <a href="/admin"><i class="bx bx-analyse"></i>Payment</a>
    </li>
    <li class="active">
      <a href="/roles"><i class="bx bx-briefcase-alt"></i>Roles</a>
    </li>
    <li>
      <a href="/bot"><i class="bx bx-message-square-dots"></i>Message</a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="/" class="logout">
        <i class="bx bx-log-out-circle"></i>
        Logout
      </a>
    </li>
  </ul>
</div>
