<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/land.css" />
    <title>ADNET - Business Registration</title>
  </head>

  <body>
    <div class="container">
      <div class="left-section">
        <div class="header">
          <h1>ADNET</h1>
          <h2>
            A few clicks away from creating your virtual business account.
          </h2>
          <h3>
            Intelligent predictive analytics to forecast business losses and
            gains.
          </h3>
          <p class="powered">Powered by Adain Tech</p>
        </div>
      </div>
      <div class="right-section">
        <div class="title">
          <h2>Choose the type of Company</h2>
          <p>
            You are a few steps away from creating an account with ADNET
            business application.
          </p>
        </div>
        <div class="company-options">
          <a
            href="/views/SoleProprietorship/sole.html"
            class="company-option sole-proprietorship"
          >
            <div class="icon"><i class="bx bx-user"></i></div>
            <div class="text">
              <h3>Sole Proprietorship</h3>
              <p>Owned and managed by a single individual.</p>
            </div>
          </a>
          <a href="/views/LLC/llc.html" class="company-option llc">
            <div class="icon"><i class="bx bx-building-house"></i></div>
            <div class="text">
              <h3>Limited Liability Company (LLC)</h3>
              <p>Owned by an individual or partners.</p>
            </div>
          </a>
          <a
            href="/views/Corporation/corporation.html"
            class="company-option corporation"
          >
            <div class="icon"><i class="bx bx-building"></i></div>
            <div class="text">
              <h3>Corporation</h3>
              <p>Owned by stakeholders.</p>
            </div>
          </a>
          <a href="/Personal" class="company-option plc">
            <div class="icon"><i class="bx bx-buildings"></i></div>
            <div class="text">
              <h3>Public Limited Company (PLC)</h3>
              <p>Owned by shareholders, publicly traded.</p>
            </div>
          </a>
        </div>

        <div class="troubleshooting">
          <p>Having troubles? <a href="#">Get Help</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
