/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

:root {
  --light: #f6f6f9;
  --primary: #1976d2;
  --light-primary: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbf7d0;
  --transition: all 0.3s ease;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey);
  overflow-x: hidden;
  background-color: #031224;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--light);
  width: 230px;
  height: 100%;
  z-index: 2000;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: var(--transition);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar.hide {
  width: 60px;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--primary);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

.sidebar .logo span {
  color: var(--dark);
}

.sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

.sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

.sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

.sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

.sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

.sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

.sidebar .side-menu li.active a {
  color: var(--primary);
}

.sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: var(--transition);
}

.sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

.sidebar .side-menu li a.logout {
  color: var(--danger);
}

/* CONTENT */
.content {
  position: relative;
  width:95%;
  left: 72px;
  /* transition: var(--transition); */
}

.sidebar.hide ~ .content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
nav {
  height: 86px;
  width: 100%;
  background: #031224;
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 2px solid #aaaaaa;
}

/* nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
} */

nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

nav .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

nav .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

nav .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

nav .theme-toggle {
  display: block;
  min-width: 50px;
  height: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
  border-radius: 25px;
}

nav .theme-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--primary);
  border-radius: 50%;
  transition: var(--transition);
}

nav #theme-toggle:checked + .theme-toggle::before {
  left: calc(100% - (25px - 4px) - 2px);
}

nav .notif {
  font-size: 20px;
  position: relative;
}

nav .notif .count {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  background: var(--danger);
  border-radius: 50%;
  color: var(--light);
  border: 2px solid var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

/* MAIN */
main {
  width: 100%;
  padding: 24px 20px 20px 20px;
}

main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

main .header .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

main .header .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

main .header .left .breadcrumb li {
  color: var(--dark);
}

main .header .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

main .header .left .breadcrumb li a.active {
  color: var(--primary);
  pointer-events: unset;
}

main .header .report {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--primary);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  font-weight: 500;
}

/* INSIGHTS */
main .insights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

main .insights li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  cursor: pointer;
}

main .insights li:hover {
  transform: scale(1.05);
  transition: var(--transition);
}

main .insights li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .insights li:nth-child(1) .bx {
  background: var(--light-primary);
  color: var(--primary);
}

main .insights li:nth-child(2) .bx {
  background: var(--light-warning);
  color: var(--warning);
}

main .insights li:nth-child(3) .bx {
  background: var(--light-success);
  color: var(--success);
}

main .insights li:nth-child(4) .bx {
  background: var(--light-danger);
  color: var(--danger);
}

main .insights li .info h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

main .insights li .info p {
  color: var(--dark);
}

/* BOTTOM DATA */
main .bottom-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

main .bottom-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

main .bottom-data .header {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

main .bottom-data .header h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

main .bottom-data .header .bx {
  cursor: pointer;
}

main .bottom-data .orders {
  flex-grow: 1;
  flex-basis: 500px;
}

main .bottom-data .orders table {
  width: 100%;
  border-collapse: collapse;
}

main .bottom-data .orders table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

main .bottom-data .orders table td {
  padding: 16px 0;
}

main .bottom-data .orders table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

main .bottom-data .orders table td img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

main .bottom-data .orders table tbody tr:hover {
  background: var(--grey);
}

main .bottom-data .orders table tr td .bx-check-circle {
  color: var(--success);
}

main .bottom-data .orders table tr td .bx-time-five {
  color: var(--warning);
}

main .bottom-data .orders table tr td .bx-loader-circle {
  color: var(--primary);
}

main .bottom-data .orders table tr td .bx-block {
  color: var(--danger);
}

main .bottom-data .reminders {
  flex-grow: 1;
  flex-basis: 300px;
}

main .bottom-data .reminders .task-list {
  width: 100%;
}

main .bottom-data .reminders .task-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  padding: 14px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .bottom-data .reminders .task-list li .task-title {
  display: flex;
  align-items: center;
}

main .bottom-data .reminders .task-list li .task-title p {
  margin-left: 6px;
}

main .bottom-data .reminders .task-list li.completed {
  border-left: 10px solid var(--success);
}

main .bottom-data .reminders .task-list li.not-completed {
  border-left: 10px solid var(--danger);
}

main .bottom-data .reminders .task-list li.completed .task-title p {
  text-decoration: line-through;
}

main .bottom-data .reminders .task-list li .bx {
  cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .content {
    width: calc(100% - 200px);
    left: 200px;
  }
}

@media screen and (max-width: 576px) {
  .sidebar {
    width: 0;
  }

  .content {
    width: 100%;
    left: 0;
  }

  nav form .form-input input {
    display: none;
  }

  nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    color: var(--dark);
    border-radius: 0;
  }

  nav .notif {
    display: none;
  }

  main .insights {
    grid-template-columns: 1fr;
  }

  main .bottom-data .header {
    min-width: 340px;
  }

  main .bottom-data .orders table {
    min-width: 340px;
  }

  main .bottom-data .reminders .task-list {
    min-width: 340px;
  }
}

/* Dark mode styles */
body.dark {
  background: #181a1e;
}

body.dark .sidebar {
  background: #202528;
}

body.dark .sidebar .logo,
body.dark .sidebar .side-menu li a {
  color: #eee;
  background: #202528;
}

body.dark .sidebar .side-menu li.active {
  background: #16191c;
}

body.dark .sidebar .side-menu li.active::before,
body.dark .sidebar .side-menu li.active::after {
  box-shadow: 20px 20px 0 #16191c, 20px -20px 0 #16191c;
}

body.dark nav {
  background: #202528;
}

body.dark nav::before {
  box-shadow: -20px -20px 0 #202528;
}

body.dark nav form .form-input {
  background: #151a1e;
}

body.dark nav form .form-input input {
  color: #eee;
  background: #151a1e;
}

body.dark nav .theme-toggle::before {
  background: #eee;
}

body.dark main .header .left h1,
body.dark main .header .left .breadcrumb li,
body.dark main .insights li .info h3,
body.dark main .insights li .info p {
  color: #eee;
}

body.dark main .insights li {
  background: #202528;
}

body.dark main .bottom-data > div {
  background: #202528;
}

body.dark main .bottom-data .header h3,
body.dark main .bottom-data .orders table th,
body.dark main .bottom-data .orders table td {
  color: #eee;
}

body.dark main .bottom-data .orders table tbody tr:hover {
  background: #151a1e;
}

body.dark main .bottom-data .reminders .task-list li {
  background: #151a1e;
}
